[
 {:id       "admin@me"
  :password "password"
  :auth     :admin}

 {:id       "analyst@me"
  :password "password"
  :auth     :intermediate}

 {:id       "user@me"
  :password "password"
  :auth     :basic}

 {:id       "researcher@me"
  :password "password"
  :auth     :unlimited}]